@media (max-width: 600px) {
  .row {
    display: block;
  }

  .tm-section-title {
    margin-left: 0;
  }

  .tm-gallery {
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-page {
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}