@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap)');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
       '. . .'
       '. form .'
       '. . .';
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-items: center;
    align-items: center;
}


.round {
    padding: 10px;
}

.round, button {
    border: 2px solid #dadada;
    border-radius: 40px;
}

.grid-input-container {
    grid-area: form;
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
       'title-reg-form title-reg-form'
       'f-name l-name'
       'email email'
       'password password'
       'confirm-password confirm-password'
       'term-agree term-agree'
       'reg-button reg-button';
    gap: 15px;
    background-image: url(./images/form-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 25px 15px 10px rgba(135, 135, 135, 0.74);
    padding: 50px;
}

.grid-input-container h1 {
    grid-area: title-reg-form;
    text-transform: uppercase;
    letter-spacing: 2px;
    place-self: center;
}

.first-name {
    grid-area: f-name;
}

.last-name {
    grid-area: l-name;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.confirm-password {
    grid-area: confirm-password;
}

.checkbox {
    grid-area: term-agree;
    color: #868383;
    margin-left: 20px;
}

button {
    grid-area: reg-button;
    justify-self: center;
    letter-spacing: 1px;
    background-color: #8f0b0b;
    color: white;
    padding: 17px;
}

.first-name,
.last-name,
.email,
.password,
.confirm-password {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
    color: #868383;

}