body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}
ul{
    background-color: #444;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    text-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #ffffff;
}

