@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);

ul {
    display: inline-block;
    list-style-type: none;
}

a {
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
}

a:visited {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
    font-size: 50px;
    margin: 10px;
}

.fa-facebook:hover {
    color: rgb(28, 107, 180);
}

.fa-twitter:hover {
    color: rgb(76, 164, 194);
}

.fa-google-plus:hover {
    color: rgb(207, 51, 51);
}

.fa-linkedin:hover {
    color: rgb(96, 96, 222);
}

.fa-instagram:hover {
    color: rgb(141, 217, 227);
}
