main.date{
    text-align: center;
}
main.ol{
    Margin: 12px
}
main.my-list{
    background-color: #f7f381;
    padding: 8px 24px;
    Width: 500px;
    text-size: 30px;
    Border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
}