body{
    background-color: #e4e978;
    width: 700px;
}
article{
    background-color: #f2f4c0;
    padding: 5px 15px;
    margin: 15px 10px;
    border: 1px solid #b2ad7d;

}
section{
    font-style: italic;
    color: #5c6e91;
}
