body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}
ul{
    text-align: center;
    background-color: #444;
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}
a, footer p{
    text-decoration: none;
    color: #ffffff;
}
section{
    margin-left: 20px;
}
header h1{
    font-size: 28px;
}
.text-italic{
    font-style: italic;
    font-size: 24px;
}
article p{
    font-size: 28px;
}
footer{
    background-color: #444;
}
footer p{
    color: #fff;
    text-align: center;
    padding: 10px;
}



