body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}
ul{
    background-color: #444;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    text-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #ffffff;
}

section{
    margin-left: 20px;
}
header h1{
    font-size: 28px;
}
header p{
    font-style: italic;
}
article p{
    font-size: 24px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

footer{
    background-color:  #444;
    text-align: center;
    padding: 10px;
    color: #fff;
}