html{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2{
    font-family: Great Vibes, cursive;
    font-weight: bold;
    line-height: 1.2;
}

article ul{
    list-style-type: square;
}

article ul ul{
    list-style-type: disc;
}

article ul ul ul{
    list-style-type: circle;
}